*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }



body{
    background-image: url("../imgs/wpp.gif");
    background-size: cover;


    
}

.centralized{
    width:max-content;
    display:flex;
    flex-direction: column;
    background-color: rgb(20,20,20);
    box-shadow: 0px 0px 12px 0px;
    justify-self: center;
    justify-content: center;
    padding:1%;
    border-radius: 12px;
}

.centralized p{
    color:white;
}



input[type=text]{
    width: 100%;
    height:fit-content;
    border: 2px solid #bebebe;
    background-color: #e0e0e0;
    border-radius: 5px; 
    text-align: center;
    margin-bottom: 6%;
    /*box-shadow: 0px 2px 0px 0px  rgb(153, 0, 255);*/
    transition: scale 0.2s ease-in-out;
    display:block;
  
}

#input_password{
    display:inline;
}

#eye_opened_svg{
    display: inline;
    height:20px;
    width:20px;
    margin:0
}




input:focus{
    scale:103%;
    margin-left: 0%;
    background-color: white;
    color:black;
   

}


.label{
    color:rgb(153, 0, 255);
    
    font-weight: 500;
}



.bttn{
    border-radius: 8px;
    border-style: none;
    margin-inline: auto;
    border: 2px solid rgb(153, 0, 255);
    width: fit-content;
    background-color:rgb(153, 0, 255);
    box-shadow: 0px 0px 0px rgb(153, 0, 255);
    transition: box-shadow .1s ease-in-out;
}

.bttn:hover{
    box-shadow: 0px 0px 15px rgb(153, 0, 255);
    color: white;
    cursor: pointer;
}

/*Começo menu conta*/

.accountMenuContainer{
    height: max-content;
    width: max-content;
   /* border: 2px solid red;*/
    justify-self: right;
    
}




.icon{
    position:relative;
    width:150px;
    height: 50px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(255,255,255),rgb(231, 231, 231));
    display: flex;
    flex-wrap: wrap;
    padding-top: 17px;
    border-radius: 5px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
    cursor: pointer; 

}

.icon_container{
    position: relative;
    /*border: 2px solid orange;*/
    /*background-color: #e0e0e0;*/
    height: fit-content;     
    width:150px;
    justify-self: center;
   
    
}

.items_icons{
    height: 16px;
    width:16px;
    align-content: left;
    text-align: center;
    margin-right: 5px;
}


.icon_container .icone_esq, .icon .icone_dir{
    position:relative;
    display:inline-block;
    width: 15px;
    height:5px;
    background-color: rgb(0, 0, 0);
    border-radius: 40px;
    transition: .5s;
}

.icon_container .icone_esq{
    left:7px;
    transform: rotate(45deg);
}

.icon_container.active .icone_esq{
    transform: rotate(135deg);
}

.icon_container .icone_dir{
    transform: rotate(-45deg);
}

.icon_container.active .icone_dir{
    transform: rotate(-135deg);
}

/*.ulist .items{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: auto;
    margin-top: 20px;
}*/


/*#user_icon{
    height:20px;
    width:20px;
    display:flex;
    justify-self: center;
    
    
}*/



/*img{
    align-items: center;
    
}*/


.ulist{
    border: 2px solid green;
    height: auto;
    width:fit-content;
    display: flex;
    position:relative;
    justify-self: right;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    overflow: hidden;
}


.items{
    margin-top: 20px;
    overflow: hidden;

}
 .items a{
    position: relative;
    display: flex;
    width: 150px;
    margin-top:7px;
    justify-content: center;
    padding: 8px;
    text-decoration-style: none;
    text-decoration: none;
    font-size: 18px;
    color:black;
    background-color: #ffffff;
    border-radius: 5px;
    transition: .5s ;
    transition-delay: calc(60ms*var(--i));
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
    overflow: hidden;
    left:105%;
    
    
    
}

.icon_container.active .items a{
    left: 0%;
}





@keyframes dropmenu {
    0%{
       left:0;
    }

    100%{
        left:50px
        
    }
}





