$cinza_claro_translu_login :rgba(255, 255, 255, 0.3);
$bg_white: rgb(233, 233, 233);

$navMenu_ShadowHover: rgb(201, 201, 201);
$verde_limao : rgb(102,255,0);
$verde_limao_darker: rgb(82, 206, 0);
$roxoHighlight:  rgb(147, 2, 204);
$roxoHightlightDarker: rgb(124, 0, 173);