@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  background-image: url("../imgs/bg_invertido.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin: 35px;
}

/*Começo Barra scroll*/
::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.45);
}

/*fim barra scroll*/
#legenda_delete {
  color: white;
}

p {
  color: white;
}

/*Começo menu perfil*/
.accountMenuContainer {
  height: -moz-max-content;
  height: max-content;
  width: -moz-max-content;
  width: max-content;
  /*border: 2px solid red;*/
  justify-self: right;
  margin-left: 0px;
}

.icon {
  position: relative;
  width: 150px;
  height: 50px;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(white, rgb(231, 231, 231));
  display: flex;
  flex-wrap: wrap;
  padding-top: 17px;
  border-radius: 5px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.items_icons {
  height: 16px;
  width: 16px;
  align-content: left;
  text-align: center;
  margin-right: 5px;
}

.icon_container {
  position: relative;
  /*border: 2px solid orange;*/
  height: -moz-fit-content;
  height: fit-content;
  width: 150px;
  justify-self: center;
}
.icon_container .icone_esq, .icon_container .icone_dir {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 5px;
  background-color: rgb(0, 0, 0);
  border-radius: 40px;
  transition: 0.5s;
}
.icon_container .icone_esq {
  left: 7px;
  transform: rotate(45deg);
}
.icon_container.active .icone_esq {
  transform: rotate(135deg);
}
.icon_container .icone_dir {
  transform: rotate(-45deg);
}
.icon_container.active .icone_dir {
  transform: rotate(-135deg);
}
.icon_container.active .items a {
  left: 0%;
}

.items {
  margin-top: 20px;
  overflow: hidden;
}

.items a {
  position: relative;
  display: flex;
  width: 150px;
  margin-top: 7px;
  justify-content: center;
  padding: 8px;
  text-decoration-style: none;
  text-decoration: none;
  font-size: 18px;
  color: black;
  background-color: #ffffff;
  border-radius: 5px;
  transition: 0.5s;
  transition-delay: calc(60ms * var(--i));
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  left: 105%;
}

.icon_container.active .items a {
  left: 0%;
}

/*fim menu perfil*/
.centralized {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 235, 235);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 12px;
}

input[type=text], input[type=password] {
  width: 100%;
  height: 23px;
  border: 2px solid #bebebe;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 6%;
  box-shadow: -3px 0px 0px rgb(102, 255, 0);
  transition: scale 0.2s ease-in-out;
  display: block;
}

input:focus {
  scale: 103%;
  margin-left: 0%;
  background-color: white;
  color: black;
}

form {
  align-items: center;
}

.buttn {
  margin-top: 25px;
  display: block;
  cursor: pointer;
  background-color: rgb(150, 249, 110);
  color: rgb(31, 31, 31);
  border-radius: 8px;
  border: 2px solid rgb(150, 249, 110);
  transition: box-shadow, background-color 0.1s ease-in-out;
}

.buttn:hover {
  background-color: rgb(0, 236, 51);
  border: 2px solid rgb(0, 236, 51);
  box-shadow: 0 0 15px rgb(0, 236, 51);
}

/*Menu Navegação*/
.navmenu {
  background-color: rgb(233, 233, 233);
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 18px;
  overflow: hidden;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: center;
}

.navmenu a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  /*border-radius: 12px;*/
  padding: 14px 16px;
  font-size: 17px;
  text-decoration: none;
  transition: background-color 0.2s ease-in;
}

.navmenu a:hover {
  background-color: rgb(201, 201, 201);
}

.navmenu .icon {
  display: none;
}

#registrar {
  background-color: rgb(102, 255, 0);
  height: 100%;
  color: black;
  transition: background-color 0.2s ease-in;
}

#registrar:hover {
  background-color: rgb(82, 206, 0);
}

.p_resultados {
  height: 100%;
  width: 100%;
  background-color: rgb(20, 20, 20);
  border: 2px solid red;
}

@keyframes botao {
  0% {
    background-color: rgb(147, 2, 204);
    color: white;
  }
  100% {
    background-color: rgb(0, 236, 51);
    color: white;
    border: 2px solid rgb(0, 236, 51);
    scale: 1.2em;
  }
}/*# sourceMappingURL=search1.css.map */