@import "_variables.scss";
/*Começo menu perfil*/


.accountMenuContainer{
    height: max-content;
    width: max-content;
    /*border: 2px solid red;*/
    justify-self: right;
    margin-left:0px;
    
}




.icon{
    position:relative;
    width:150px;
    height: 50px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(white,$darkerWhite_iconGradient);
    display: flex;
    flex-wrap: wrap;
    padding-top: 17px;
    border-radius: 5px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
    cursor: pointer; 

}

.items_icons{
    height: 16px;
    width:16px;
    align-content: left;
    text-align: center;
    margin-right: 5px;
}

.icon_container{
    position: relative;
    /*border: 2px solid orange;*/
    height: fit-content;     
    width:150px;
    justify-self: center;

    & .icone_esq, .icone_dir{
        position:relative;
        display:inline-block;
        width: 15px;
        height:5px;
        background-color: rgb(0, 0, 0);
        border-radius: 40px;
        transition: .5s;
    }
    
    & .icone_esq {
        left:7px;
        transform: rotate(45deg);
    }

    &.active .icone_esq{
        transform: rotate(135deg);
    }

    & .icone_dir{
        transform: rotate(-45deg);
    }

    &.active .icone_dir{
        transform: rotate(-135deg);
    }

    &.active .items a{
        left:0%;
    }
    
}


.items{
    margin-top: 20px;
    overflow: hidden;

}
 .items a{
    position: relative;
    display: flex;
    width: 150px;
    margin-top:7px;
    justify-content: center;
    padding: 8px;
    text-decoration-style: none;
    text-decoration: none;
    font-size: 18px;
    color:black;
    background-color: $itemsABG;
    border-radius: 5px;
    transition: .5s ;
    transition-delay: calc(60ms*var(--i));
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
    overflow: hidden;
    left:105%;
    
    
    
}

.icon_container.active .items a{
    left: 0%;
}



/*fim menu perfil*/